@charset "utf-8";
/* CSS Document */
body{
	background-color: lightblue;
}

h1{
	font-family: Verdana;
}

p{
	font-family: Verdana;
	color: lightblue;
	font-size: x-small;
}

#handlelsite{
	font-family: Verdana;
	color: black;
}



